mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
mat-dialog-content h2 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
}
form {
  width: 100%;
  max-width: 500px;
}
mat-form-field {
  width: 100%;
  margin-bottom: 0px;
}
.form-row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.form-row mat-form-field {
  flex: 1;
  min-width: 120px;
  height: auto;
}
mat-form-field .mat-form-field-wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 8px;
}
.mat-form-field .mat-input-element {
  font-size: 14px;
  height: 32px;
  line-height: 1.5;
}
.error-message {
  color: red;
  font-size: 0.73rem;
  text-align: center;
  margin-bottom: 10px;
}
mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
button[mat-dialog-close] {
  background-color: transparent;
  color: #555;
}
button[mat-raised-button] {
  background-color: #3f51b5;
  color: white;
}
button[mat-raised-button][disabled] {
  background-color: #c7c7c7;
  color: #888;
}
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }
  .form-row mat-form-field {
    width: 100%;
  }
  mat-dialog-actions {
    flex-direction: column;
    gap: 10px;
  }
}
.label {
  font-size: 14px;
}
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #dbd7d7;
  align-items: center;
  padding: 20px;
}
.close {
  border: none;
  background: white;
  outline: none;
}
.title {
  margin: 0px;
  font-weight: 400;
}
